<!DOCTYPE html>
<html class="font-mono m-0 bg-bg1 bg-center bg-cover bg-no-repeat min-h-screen">
<head>
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
</head>
<body class="min-h-screen flex items-center justify-center bg-cover bg-center bg-no-repeat bg-custom-bg">
    <div class="bg-black bg-opacity-80 p-6 max-w-fit rounded-md shadow-shad_big">
        <h3 class="text-white text-center text-3xl mb-4">Welcome to Uber Driver Insights</h3>
        <div class="flex gap-4 justify-center">
            {% if not current_user.is_authenticated %}
            <a href="{{ url_for('auth.login') }}"
            class="flex items-center justify-center text-xl text-white hover:text-purple-500 hover:bg-black p-2 rounded-3xl min-h-12 bg-purple-700 shadow-shad_button min-w-36 mx-3 transition-colors duration-300">
                <span>Login</span>
            </a>
            {% endif %}
            {% if not current_user.is_authenticated %}
            <a href="{{ url_for('auth.register') }}"
                class="flex items-center justify-center text-xl text-white hover:text-purple-500 hover:bg-black p-2 rounded-3xl min-h-12 bg-purple-700 shadow-shad_button  min-w-36 mx-3 transition-colors duration-300">
                <span>Register</span>
            </a>
            {% endif %}
            {% if current_user.is_authenticated %}
            <a href="{{ url_for('main.explore_plots') }}" class=" text-center text-purple-700 hover:text-black p-2 w-5">
                <span>Explore the Data</span>
            </a>
            {% endif %}

            {% if current_user.is_authenticated %}
            <a href="{{ url_for('auth.logout') }}" class=" text-center text-purple-700 hover:text-black p-2 w-5">
                <span>Logout</span>
            </a>
        {% endif %}
        </div>
    </div>
</body>
</html>